.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle {
  display: flex;
  width: 70px;
  height: 70px;
  background-color: #CBB682;
  border-radius: 50%;
  bottom: 10px;
  right: 20px;
  position: fixed;
  /* padding: 20px; */
}

.rightside {
  bottom: 90px;
  right: 30px;
  position: fixed;
}

.floppington {
  width: 65px;
  height: 65px;
  padding-left: 7px;
}

.floppington-avatar {
  width: 70px;
  height: 70px;
}

.text {
  margin: auto;
}

.chatbot-btn {
  background-color: #CCC;
  color: black;
  padding: .5rem 0.8rem;
  border-radius: 999px;
  border: none;
  cursor: pointer;
}